///
// App styles
///
.App-logo {
  height: 300px;
  animation: App-logo-spin infinite 20s linear;
  filter: grayscale(100%) brightness(0);
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  color: #111;

  div + button {
    margin-top: 16px;
  }
}

input {
  display: block;
  padding: 10px 8px;
  min-width: 250px;
  border: 1px solid #ddd;

  label + & {
    margin-top: 6px;
  }

  & + &,
  & + label {
    margin-top: 16px;
  }
}

label {
  display: block;
  font-size: 14px;
}

button {
  padding: 14px;
  min-width: 250px;
  color: #fff;
  background-color: #000;
  border: 0;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
